body{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px ;
    
}

section{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 2%;
    display: flex;
}
.background{ 
    background-image:url(images/shapes/bg.png) ;
    background-repeat: no-repeat;
    background-position: left;
}

.Global{
    background-image: url(images/shapes/shape-10.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width{
        width: 40%;
        float:center;
        margin-left: 5%;
        padding-right: 2px;
        padding-left: 4px;
}
.tomato{
    color: tomato;
}
.link-button{
    color: white;
    background-color: tomato;
    text-decoration: none;
    border-radius: 5%;
    padding: 10px 20px;
    font-weight: 600;
    font-size: small;
    margin: 50px opx;
}
.block{
    width: 30%;
    border-radius: 25px;
    margin: 2%;
    padding: opx 70px;
    display: inline-block;
    justify-self: center;
    color: #0f0e0ebb;
    box-sizing: border-box;
    height: 375px;
}
.block h4{
    font-weight: 900px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#div-baby1{
    background-color:rgb(185, 234, 250);
    padding-left: 35px;
    margin-left: 120px;
}
#div-baby2{
    background-color:#f5b399;
    padding-left: 35px;
    margin-left: 2px;
}
#div-baby3{
    background-color:hsl(120, 86%, 81%);
    padding-left: 35px;
    margin-left: 2px;
    margin-right: 160px;
}
p{
    padding-bottom: 10px;
    padding-right: 15%;
    text-align: justify;
    margin-bottom: 10%;
    font-size: small;
}
#mission{
    text-align: center;

}
#focused{
    border-left: 3px solid;
    border-color: #fd5639;
    border-image-slice: 1;
    padding-left: 10px;
}
footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px 0px;
}
.half-width img{
    max-width: 65%;
    display: inline-block;
    padding: 10px 0px 5px 3px;
    margin-top: 2%;
}
.block img{
    width: 80%;
}